[submodule ".config/awesome/lib/bling"]
  path = .config/awesome/lib/bling
  url = https://github.com/BlingCorp/bling
[submodule ".config/awesome/lib/rubato"]
  path = .config/awesome/lib/rubato
  url = https://github.com/andOrlando/rubato
[submodule ".config/awesome/lib/layout-machi"]
  path = .config/awesome/lib/layout-machi
  url = https://github.com/xinhaoyuan/layout-machi

[submodule ".config/awesome/lib/awesome-wm-widgets"]
  path = .config/awesome/lib/awesome-wm-widgets
  url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
